* {
  margin: 5px;
  padding: 5px;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.Modal-Background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px #cccccc;
  border-radius: 10px;
  z-index:1000;
}
.btn-close {  
  position: fixed;
  top: 0%;
  right: 0%;
}
.modal-btn   {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.App {
  text-align: center;
  background-color: whitesmoke;
}
.All-Vid-List {
  background-color: #f0f0f0de;
  display: flex;
  flex-direction: column;
}

.vid{
  background-color: #f0f0f0de;
  border: black;
  border-style: solid;
  border-width: 2px;
  display: flex;   
  justify-content:space-between;
  align-items: center;
}
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;    
} 

/* App.css */
.button {
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.download {
  background-color: blue;
}

.processing {
  background-color: blue;
  animation: blink 1s infinite;
}

.extract {
  background-color: blue;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}